.caixa{
    background-color: #3fb54d;
}

.titulo{
    color: white !important;
    font-weight: bold;
}

.botao{
    border-color: white !important;
    background-color: white;
    color: white;
}

.postagens{
    background-color: white !important;
}