.box1{
    background-color: #1a8226;
    height: 120px;
}

.box2{
    background-color: #186e22;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}