.imagem2{
    background-image: url(https://miro.medium.com/max/1000/1*paPaSAL8Lv6nJF0hCQdCaw.png);
    background-repeat: no-repeat;
    width: 100vh; 
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important ;
}